html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-div-wrap {
  display: block;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px dashed white;
  width: 100%;
  height: 100%;
  padding: 16px 11px;
  border-radius: 5px;
}

.csv-table {
  padding: 10px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .csv-table {
    max-width: 100vw;
  }
}

#tfjs-visor-container {
  color: #000000;
  font-size: 23px;
  padding-top: 80px;
}

#tfjs-visor-container > .visor{
  top: 64px;
}